body{
    background-color: #333;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    text-align: start;
    width: 10%;
}

.header img {
    float: left;
    width: 100px;
    height: 100px;
    
  }
  
  .header h1 {
    position: relative;
    top: 18px;
    left: 10px;
  }

h1{
    font-size: 50px;
}

h2{
    font-size: 30px;
}

header,
footer {
    color: white;
    background-color: darkblue;
    text-align: center;
    border-style: solid;
    border-color: yellow;
}

footer{
    padding: 20px;
    clear: both;
}

nav{
    padding: 20px;
    border-style: solid;
    border-color: darkblue;
    background-color: yellow;
}

a{
    color: darkblue;
}

.aside-left{
    
        float: left;
        width: 10%;
        height: 500px;
        background: #ccc;
        padding: 20px;
        border-style: solid;
        border-color: darkblue;
        background-color: yellow;
        margin-top: 8px;
        margin-bottom: 8px;}
        .aside-left a:hover {
            color: red;
    }

.aside-right{
    float: right;
    color: white;
    width: 30%;
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-color: yellow;
    background-image: url(https://img.freepik.com/free-photo/brown-wooden-textured-flooring-background_53876-106140.jpg);
    margin-top: 10px;
}

dt{
    font-style: italic;
}

ul{
    font-style: italic;
    list-style-type: none;
}

article{
    flex-wrap: wrap;
    color: white;
    text-align: center;
    width: 60%;
    padding: 20px;
    
}

section{
    color: white;
    text-align: center;
    width: 60%;
    padding: 20px;
     
}

.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: darkblue;
    color: white;
  }

.goalies{
    border-style: solid;
    border-color: yellow;
    background-color: darkblue;
}

#content{
    margin-left: 200px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    padding-left: 8px;
}