.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.latest-news {
    background-color: #6c757d;
    color: white;
    padding: 10px;
}

.main-content{
    min-height: 230px;
}
.sidebar-content{
    min-height: 100px;
    margin-bottom: 30px;
    background: #b4bac0;
}

.news{
    text-align: center;
}

.news-head{
    color: black;}
    .news-head a:hover {
        color: #333;
}

