.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.latest-news {
    background-color: #6c757d;
    color: white;
    padding: 10px;
}

.main-content{
    min-height: 230px;
}
.sidebar-content{
    min-height: 100px;
    margin-bottom: 30px;
    
}

.news{
    text-align: center;
}

.news-head{
    color: black;}
    .news-head a:hover {
        color: #696969;
}

.h-center{
    text-align: center;
}

.card-body a{
    background-color: #ffb81c !important;
    color: black;
    border-color: #ffb81c;
}
    .card-body a:hover {
      background-color: #041E41 !important;
      color: white;
      
}

.btn-custom{
    background-color: #ffb81c !important;}
    .btn-custom a:hover {
      background-color: #041E41 !important; 
     
}

