.custom-navbar {
    background-color: #ffb81c;
    color: black !important;
}

/* Lisää tyylit navigaatiolinkkeihin */
.navbar-nav .nav-link {
    position: relative;
    color: black; /* Normaalin tekstin väri */
}

/* Viiva normaalitilassa (ei hover, ei aktiivinen) */
.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0; /* Viiva tulee tekstin alle */
    width: 0;
    height: 2px; /* Viivan korkeus */
    background-color: #041E41; /* Viivan väri */
    transition: width 0.3s ease; /* Sileä animaatio */
}

/* Hover-tila: viiva laajenee koko tekstin leveyteen */
.navbar-nav .nav-link:hover::after {
    width: 95%; /* Koko tekstin leveys */
}

/* Aktiivinen linkki: viiva pysyy tekstin alla */
.navbar-nav .nav-link.active::after {
    width: 95%; /* Koko tekstin leveys */
}


/* Footer */


.cop-foot{
    background-color: #ffb81c;
    color: black;
}

.link-foot{
    background-color: #ffb81c;
}

hr{
    margin-left: 5rem;
    margin-right: 5rem;
    color: #041E41;
    
}
