.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}


.card-body a{
    background-color: #ffb81c !important;
    color: black;
    border-color: #ffb81c;
}
    .card-body a:hover {
      background-color: #041E41 !important;
      color: white;
      
}

.btn-custom{
    background-color: #ffb81c !important;}
    .btn-custom a:hover {
      background-color: #041E41 !important;
}

p a{
    background-color: #ffb81c !important;
    color: black;
    border-color: #ffb81c;
}
    p a:hover {
      background-color: #041E41 !important;
      color: white !important; 
    }